body,html{
    margin: 0;
    padding: 0;
    font-family:-apple-system, Blink   MacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
* *::before *::after{
    box-sizing: border-box;
}
